.list-group-item {
  line-height: 2.5;
}

.headerImg { 
  width:40%; 
}
.list-group-item {
  line-height: 2.5;
}
.navbar{
  width: 100%;
  height: 75px;
}
.unscrolled-bar {
  display: none;
}
#header-text{
  font-size: 10em;
  color: red;
  font-family: 'Rock Salt', sans-serif;
  text-shadow: 2px 2px 9px black;
  opacity: .7;
}

h1 { 
  color: red;
  font-family: 'Rock Salt', sans-serif;
  text-align: center;
  font-size-adjust: inherit;
}

.card {
  border: 1px solid red;
  border-radius: 5px;
  margin: 16px;
  width: 45%;
  margin-left: 25px;
}

.card-title {
  font-size: 20px;
  font-family: 'Rock Salt', sans-serif;
  padding: 10px;
}

.card-body {
  text-align: center;
  font-size: 30px;
}

.card-footer {
  font-size: 25px;
  font-style: italic;
  text-align: right;
}

.bottom {
  background-color: white;
}


.hide{
  display: none;
}

.gift {
  height: 300px;
  width: 400px;
}
.jumbotron {
  background-image: url('images/pexels-photo-984954.jpeg');
  background-size: cover;
  height:100%;
  position: relative;
}

#topLinks {
  position: absolute;
  bottom:0;
  width: 100%;
  color: white;
  background:rgba(0,0,0,0.5);
  /* margin-left: -100px; */
}

#topLinks a{
  color: white;
  text-decoration: none;
  font-size: 3em;
  margin: 20px; 
  /* border: 2px white solid; */
  padding: 10px;
  opacity: .5;
  /* background: black; */
}

#topLinks a:hover {
  opacity: 1;
}

i {
  font-size: 10em;
  opacity: .5;

}
#item-image {
  /* float:right; */
  width: 40%;
  height: 60%;
  border: solid white 1px;
}

#suggestedgift {
  height:100%;
}

#gift-description {
  width:50%;
  height: 200px;
}

#inputDiv {
  height: 100%;
}

.title {
  text-align: left;
}

.tt-style {
  color:black;
  border-bottom: solid 1px black;
  font-size: 4rem;
}

#navbar {
  top: -100px; /* Hide the navbar 50 px outside of the top view */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

#navTitle {
  font-family:  'Rock Salt', sans-serif;
  color:red;
  font-size: 1.5em;
}
.navlinks {
  font-size: 1.25em;
  color: red;
 
}
  
@media only screen and (max-width: 1000px) {


  /* #topTen {
    display: none;
  } */

  #item-image {
    /* float:right; */
    margin-top: 60px;
  }
 
}

