.list-group-item {
  line-height: 2.5;
}

.headerImg { 
  width:40%; 
}
.list-group-item {
  line-height: 2.5;
}

.top-ten-list {
  font-size: 2.5vw;
  padding: 2vw;
}

#main{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 400px 400px 400px;
}

#topTen {
  grid-column-start: 2 ;
  grid-row-start: 1;
  grid-row-end: 4;
}

h1 { 
  color: red;
  font-family: 'Rock Salt', sans-serif;
  text-align: center;
  font-size-adjust: inherit;
}

.hide{
  display: none;
}

.gift {
  height: 300px;
  width: 400px;
}


